h1 {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 80px;
	background-color: grey;
	
}
body {
	background-color: black;
	
}
p {
	color: white;
	font-size: 40px;
	font-family:Georgia, serif;
}
